In [2]:
from uk_covid19 import Cov19API
import json
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as wdg
from ipywidgets import Layout, Button, Box, GridspecLayout

# an iPython  "magic" that enables the embedding of matplotlib output
%matplotlib inline
# make figures larger
plt.rcParams['figure.dpi'] = 150

In [2]:
from IPython.display import Markdown, display, HTML
def printmd(string):
    display(Markdown(string))

In [3]:
def parse_date(datestring):
    """ Convert a date string into a pandas datetime object """
    return pd.to_datetime(datestring, format="%Y-%m-%d")

In [4]:
def time_series_graph(lines):
    n_lines=len(lines)
    if n_lines>0:
        graph_data_frame=data[list(lines)]
        ax=graph_data_frame.plot()
        ax.set_title("Cumulative Totals of Important Statistics")
        #print(a(lines))
        #global text_to_print
        #text_to_print=a(lines)
    else:
        print("Select the data you want to print.")

In [5]:
def num_of_cumulative_cases_text(obs):
    tup=obs
    #global text
    text=""
    for item in tup:
        if item=='Number of cases':
            text="Number of cases refers to the individuals who have had at least one positive COVID-19 test result (either lab-reported or lateral flow device), by date reported. On 2 July, case data from pillars 1 and 2 of the testing programme were combined and de-duplicated, resulting in a step decrease in the cumulative number of cases reported."
    printmd(text)

In [5]:
data = pd.read_pickle('date_case_adm_death_df.pkl')

In [6]:
legend_to_struct_dictionary={
    "Number of cases":"cases",
    "Number of admissions":"admissions",
    "Number of deaths":"deaths",
    "Date": "date",
    "Number of new cases":"noOfNewCases",
    "Number of new Hospital Admissions":"noOfNewHospitalAdmissions",
    "Number of new deaths":"noOfNewDeaths"
}

struct_to_legend_dictionary=dict(list(zip(legend_to_struct_dictionary.values(), legend_to_struct_dictionary.keys())))

In [7]:
data.rename(columns=struct_to_legend_dictionary, inplace=True)

In [45]:
lines_to_print=wdg.SelectMultiple(
    options=["Number of cases", "Number of admissions", "Number of deaths"],
    value=["Number of cases", "Number of admissions", "Number of deaths"],
    rows=3,
    description='Stats:',
    disabled=False,
    layout=Layout(justify_content='center')
)

In [46]:
controls=display(lines_to_print)

SelectMultiple(description='Stats:', index=(0, 1, 2), layout=Layout(justify_content='center', padding='20px'),…

In [47]:

graph=wdg.interactive_output(time_series_graph, {'lines':lines_to_print})
text_to_print=wdg.interactive_output(num_of_cumulative_cases_text, {'obs':lines_to_print})

In [66]:
grid=GridspecLayout(5,2)
grid[:,0]=graph
grid[2:,1] = text_to_print
grid[1,1] = lines_to_print

In [67]:
display(grid)

GridspecLayout(children=(Output(layout=Layout(grid_area='widget001'), outputs=({'output_type': 'display_data',…

In [8]:
data

,Number of new cases,Number of cases,Number of new Hospital Admissions,Number of admissions,Number of new deaths,Number of deaths
2020-01-03,0,NaN,NaN,NaN,NaN,NaN
2020-01-04,0,NaN,NaN,NaN,NaN,NaN
2020-01-05,0,NaN,NaN,NaN,NaN,NaN
2020-01-06,0,NaN,NaN,NaN,NaN,NaN
2020-01-07,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2020-11-18,19609,1.43034e+06,1746,205152,407,54411
2020-11-19,22915,1.45326e+06,NaN,NaN,340,54751
2020-11-20,20252,1.47351e+06,NaN,NaN,NaN,NaN
2020-11-21,19875,1.49338e+06,NaN,NaN,NaN,NaN
2020-11-22,18662,1.51204e+06,NaN,NaN,NaN,NaN

In [10]:
for col in data.columns:
    data[col].values[:] = 1

In [9]:
import ipywidgets as wdg

@wdg.interact(lines=wdg.SelectMultiple(options=["Number of cases", "Number of admissions", "Number of deaths"]))
def time_series_graph(lines):
    print(lines)
    n_lines=len(lines)
    if n_lines>0:
        data[list(lines)].plot()
    else:
        print("Select the data you want to print.")

interactive(children=(SelectMultiple(description='lines', options=('Number of cases', 'Number of admissions', …